[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
#default-time-zone = '+8:00'
init-connect='SET NAMES utf8mb4'

max_allowed_packet=64M

innodb_buffer_pool_size=256M
innodb_additional_mem_pool_size=2M
innodb_flush_log_at_trx_commit=1
innodb_log_buffer_size=512M
innodb_log_file_size=512M

#max_connections=500

character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

query_cache_size=64M
tmp_table_size=64M
read_buffer_size=4M
read_rnd_buffer_size=16M
key_buffer_size=32M
sort_buffer_size=32M
thread_cache_size=120


# slow queries log
#log-slow-queries=/var/logs/mysql_slow_queries.log
#long_query_time=1
#log-queries-not-using-indexes=true
